<iframe
  width="750"
  height="250"
  src = "https://maps.google.com/maps?q= <%= @session_request.user_location["lat"] %>,
                                         <%= @session_request.user_location["lon"] %>
                                         &hl=es;z=14&amp;output=embed">
</iframe>
