<% %>
<!DOCTYPE html>
<html>
<head>
  <title>Sessions</title>
  <style>
    #map{
        height:400px;
        width: 100%;
    }
  </style>
</head>
<body>
<div id="map"></div>
<script>
  function initMap(){
       var options = {
           zoom:8,
           center:{lat: <%= @session.user.location.lat %>, lng: <%= @session.user.location.lng %>}
       }

       var map = new
       google.maps.Map(document.getElementById('map'),options);

      addMarker({
          coords:{lat: <%= @session.user.location.lat %>, lng: <%= @session.user.location.lng %>},
          iconImage: "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png",
          content: '<h3><%= @session.user.first_name %> <%= @session.user.last_name %></h3>'+
              '<h4><%= @session.user.location.address %></h4>'
      });
      addMarker({
          coords:{lat: <%= @session.worker.location.lat %>, lng: <%= @session.worker.location.lng %>},
          iconImage: "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png",
          content: '<h3><%= @session.worker.first_name %> <%= @session.worker.last_name %></h3>'+
              '<h4><%= @session.worker.location.address %></h4>'
      });

      function addMarker(props){
          var marker = new google.maps.Marker({
              position:props.coords,
              map:map,
              animation: google.maps.Animation.DROP,
              // icon: props.iconImage
          });

          if(props.iconImage){
              marker.setIcon(props.iconImage);
          }

          if(props.content){
              var infoWindow = new google.maps.InfoWindow({
                  content:props.content
              });

              marker.addListener('click', function(){
                  infoWindow.open(map, marker);
              });
          }
      }
  }
</script>
<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc1t-bj3lzqzUgQAfy203PUWpIw0QhqzI&callback=initMap&libraries=&v=weekly"
  async
></script>
</body>
</html>