<%# binding.pry %>
<!DOCTYPE html>
<html>
  <head>
    <title>Maps</title>
    <style>
      #usermap{
          height:400px;
          width: 49%;
          float: left;
      }
      #partnermap{
          height:400px;
          width: 49%;
          float: right;
      }
    </style>
  </head>
  <body>
    <div id="usermap"></div>
    <div id="partnermap"></div>
    <script>
        function initMap(){
            var options = {
                zoom:1,
                center:{lat: 31.523184, lng: 74.465956}
            }
            var options1 = {
                zoom:1,
                center:{lat: 31.523184, lng: 74.465956}
            }

            var usermap = new
            google.maps.Map(document.getElementById('usermap'),options);
            var partnermap = new
            google.maps.Map(document.getElementById('partnermap'),options1);

            <% User.where('status = ?', 0).each do |user| %>
              <% if user.location %>
                addMarker({
                    coords: {lat: <%= user.location.lat %>, lng: <%= user.location.lng %> },
                    content: '<h3><%= user.first_name %> <%= user.last_name %></h3>'+
                        '<h4><%= user.location.address %></h4>',
                    <%# if user.available %>
                    // iconImage: "https://developers.google.com/maps/documentation/javascript/examples/full/images/library_maps.png",
                    <%# else %>
                    iconImage: "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png",
                    <%# end %>
                });
              <% end %>
            <% end %>

            <% User.where('status = ?', 1).each do |partner| %>
            <% if partner.location %>
            addMarker1({
                coords: {lat: <%= partner.location.lat %>, lng: <%= partner.location.lng %> },
                content: '<h3><%= partner.first_name %> <%= partner.last_name %></h3>'+
                    '<h4><%= partner.location.address %></h4>',

                <% if partner.available %>
                iconImage: "https://developers.google.com/maps/documentation/javascript/examples/full/images/library_maps.png",
                <% else %>
                iconImage: "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png",
                <% end %>
            });
            <% end %>
            <% end %>

            function addMarker(props){
                var marker = new google.maps.Marker({
                    position:props.coords,
                    map:usermap,
                    animation: google.maps.Animation.DROP,
                    // icon: props.icon
                });

                if(props.iconImage){
                    marker.setIcon(props.iconImage);
                }

                if(props.content){
                    var infoWindow = new google.maps.InfoWindow({
                        content:props.content
                    });

                    marker.addListener('click', function(){
                        infoWindow.open(usermap, marker);
                    });
                }
            }
            function addMarker1(props) {
                var marker = new google.maps.Marker({
                    position: props.coords,
                    map: partnermap,
                    animation: google.maps.Animation.DROP,
                    // icon: props.iconImage
                });

                if (props.iconImage) {
                    marker.setIcon(props.iconImage);
                }

                if (props.content) {
                    var infoWindow = new google.maps.InfoWindow({
                        content: props.content
                    });

                    marker.addListener('click', function () {
                        infoWindow.open(partnermap, marker);
                    });
                }
            }
        }
    </script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc1t-bj3lzqzUgQAfy203PUWpIw0QhqzI&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>