<!DOCTYPE html>
<html>
  <head>
    <title>WorkeeyApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'authorizenet', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript"
            src="https://jstest.authorize.net/v1/Accept.js"
            charset="utf-8">
    </script>  </head>

  <body>
    <%= yield %>
  </body>
</html>
